.main-manu__indent
header.main-manu.main-grid
    a(href="/").main-manu__logo.link-main Доктор <br> Монахов
    .main-manu__tel-burger
        a(href="tel:+79268897716").main-manu__tel.link-main +7 (926) 889-77-16
        button.main-manu__burger-button
    .main-manu__burger-manu.burger-manu
        .main-grid.burger-manu__wrap
            .burger-manu__header
                a(href="#").button.button_clear.burger-manu__signup Записаться на приём
                    svg.button__icons-arrow
                        use(xlink:href="img/sprite_icons.svg#arrow" xmlns:xlink="http://www.w3.org/1999/xlink")
                .burger-manu__tel-burger
                    a(href="tel:+79268897716").main-manu__tel.link-main +7 (926) 889-77-16
                    button.main-manu__burger-button

