:root {
	// Цвета
	--color-text-main: #000;
	--color-grey: #fafafa;
	--color-white: #fff;
	--color-active: #0060a0;
	--color-hover: #0076c4;

	// Размеры
	// --content-max-weight: 1360px;
	--grid-columns-number: 12;
	--grid-columns-weight: 95px;
}

@import "./scss/fonts.scss";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: var(--color-text-main);
	font-family: "Spectral", serif;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	line-height: 150%;
}

// Иконки
.icons-arrow {
	width: 22px;
	height: 8px;
}

// Гриды
.main-grid {
	display: grid;
	grid-template-columns: repeat(var(--grid-columns-number), var(--grid-columns-weight));
	grid-column-gap: 20px;
	justify-content: center;
}

// Анимация
.link-main {
	transition: color 150ms ease-in-out 0ms;
	text-decoration: none;
	color: var(--color-text-main);

	svg {
		transition: fill 150ms ease-in-out 0ms;
		fill: var(--color-text-main);
	}

	&:hover {
		color: var(--color-active);

		svg {
			fill: var(--color-active);
		}
	}
}

// Кнопки
.button {
	display: inline-flex;
	padding: 10px 25px;
	transition: 150ms ease-in-out 0ms;
	transition: background-color 150ms ease-in-out 0ms;
	transition-property: color, background-color;
	text-decoration: none;
	letter-spacing: 0.0015em;
	text-transform: uppercase;
	color: var(--color-white);
	border-radius: 5px;
	background-color: var(--color-active);
	font-family: "Cera Pro";
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	align-items: center;

	&:hover {
		background-color: var(--color-hover);
	}
}

.button__icons-arrow {
	margin-left: 10px;
	fill: var(--color-white);
}

@import "./scss/header.scss";
